<!DOCTYPE html>
<html>

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.25">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css" type="text/css">
  <link rel="stylesheet" href="static/theme.css">
</head>

<style>
  input[type="number"], input[type="text"] {
        border: 1px solid #ccc; /* add a border */
        border-radius: 4px; /* round the edges */
        padding: 10px; /* add some padding */
        font-size: 1.2em; /* increase font size */
        color: #333; /* change color to dark gray */
    }

    input[type="number"]:focus, input[type="text"]:focus {
        outline: none; /* remove the default focus outline */
        border-color: gold; /* change border color when focused */
        box-shadow: 0 0 5px gold; /* add a box shadow when focused */
    }
  label {
      font-size: 1.2em; /* increase font size */
      color: whitesmoke; /* change color to dark gray */
      text-transform: uppercase; /* convert label text to uppercase */
      font-weight: bold; /* add bold font weight */
      margin-bottom: 30px; /* add margin bottom for spacing */
  }
</style>

<body>
  <nav class="navbar navbar-expand-lg navbar-dark bg-secondary border-bottom border-primary"> 
        <div class="container"> <a class="navbar-brand" href="#"> 
            <i class="fa d-inline fa-vimeo-square text-primary"></i> 
            <b class="text-primary"><b>Vinance</b></b> 
          </a> <button class="navbar-toggler navbar-toggler-right border-0" type="button" data-toggle="collapse" data-target="#navbar11"> 
            <span class="navbar-toggler-icon"></span> 
          </button> 
          <div class="collapse navbar-collapse" id="navbar11"> 
            <ul class="navbar-nav mr-auto"> 
              <li class="nav-item"> <a class="nav-link text-primary" href="home">Home</a> </li> 
              <li class="nav-item"> <a class="nav-link text-primary" href="stock">Pricing</a> </li> 
              <li class="nav-item text-secondary"> <a class="nav-link text-primary" href="news">News</a> </li> 
              <li class="nav-item"> <a class="nav-link text-primary" href="transactions">Current Holdings</a> </li>
            </ul> 
            <ul class="navbar-nav ml-auto"> 
              <li class="nav-item text-dark"> <a class="nav-link text-primary">Welcome {{ fFirstName }} {{ fLastName }} </a> </li> 
            </ul> 
            <a class="btn navbar-btn ml-md-2 btn-secondary text-primary">Fidor ID ({{ fID }})</a> 
            <a class="btn navbar-btn ml-md-2 btn-secondary text-primary">Balance Available $: {{ fBalance }}</a>
          </div> 
        </div> 
      </nav> 
  <div class="text-center align-items-center d-flex text-primary py-2 rounded h-100 " style="background-size: cover; background-repeat: no-repeat; background-position: center; background-color: rgba(255, 255, 255, 0.5); background-image: url(static/assets/images/yellowbackground.jpg) ">
    <div class="container my-5 mt-2 py-5 pb-5">
      <div class="row">
        <div class="mx-auto col-lg-8 col-md-10">
          <h1 class="display-3 text-center text-uppercase border-0 py-1 my-3 mb-2"><b>&nbsp;Purchase&nbsp;<br>"{{Symbol}}" <br>
            <h2>Price Per Unit: $SGD{{Price}}</h2></b></h1>

            <form method="post" action="/process">
              <input type="hidden" id="tickerCode" name="tickerCode" value="{{ Symbol }}">
              <label for="units">Units:</label>
              <input type="number" id="units" name="units" min="1" onchange="updateTransferAmount()">
              <br>
              <label for="price">Price Per Unit: $</label>
              <input type="text" id="price" name="price" value="{{ Price }}" readonly>
              <br>
              <label for="transferAmt"> Amount Payable:</label>
              <input type="text" id="transferAmt" name="transferAmt" readonly>
              <br>
              <label for="transferRemarks" style="display: none;">Purchased Units: </label>
              <input type="text" id="transferRemarks" name="transferRemarks" style="display: none;">
              <label for="transactionID" style="display: none;">Transaction ID:</label>
              <input type="text" id="transactionID" name="transactionID" style="display: none;">
              <button type="submit" style="box-shadow: 4px 4px 8px whitesmoke; height: 100px; width: 300px;" class="btn btn-lg mx-1 btn-outline-primary">Buy {{Symbol}}</button>
          </form>
          
          <br>
        </div>
      </div>
    </div>
  </div>
  <div class="border-primary border rounded-lg" style="background-color: black;" >
    <div class="container">
      <div class="row">
        <div class="col-md-12 text-center"> <i class="fa d-inline fa-vimeo-square text-primary fa-vimeo-square fa-4x"></i> 
          <p class="p-2 text-dark"> <a href="https://goo.gl/maps/AUq7b9W7yYJ2" target="_blank" class="text-primary"> Temasek Polytechnic, 544231 <br>Singapore, Tampines</a><br>2104275I@student.tp.edu.sg</p> 
        </div> 
      </div> 
      <div class="row"> 
        <div style="color: gold;"class="col-md-12 d-flex align-items-center justify-content-center my-3 "> <a href="#"> 
            <i  class="d-block fa fa-facebook-official text-muted fa-lg mr-2"></i> 
          </a> <a href="#"> 
            <i class="d-block fa fa-instagram text-muted fa-lg mx-2"></i> 
          </a> <a href="#"> 
            <i class="d-block fa fa-google-plus-official text-muted fa-lg mx-2"></i> 
          </a> <a href="#"> 
            <i class="d-block fa fa-pinterest-p text-muted fa-lg mx-2"></i> 
          </a> <a href="#"> 
            <i class="d-block fa fa-reddit text-muted fa-lg mx-2"></i> 
          </a> <a href="#"> 
            <i class="d-block fa fa-twitter text-muted fa-lg ml-2"></i> 
          </a> </div> 
  
 
  
  <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.6/umd/popper.min.js" integrity="sha384-wHAiFfRlMFy6i5SRaxvfOCifBUQy1xHdJ/yoi7FRNXMRBu5WHdZYu1hA6ZOblgut" crossorigin="anonymous"></script>
  <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
  <script>
    function updateTransferAmount() {
    var units = document.getElementById("units").value;
    var price = document.getElementById("price").value;
    var tickerCode = document.getElementById("tickerCode").value;
    var transferAmt = units * price;
    var transferRemarks = "Purchased " + units +" units of "+ tickerCode  ;
    document.getElementById("transferAmt").value = transferAmt.toFixed(2);
    document.getElementById("transferRemarks").value = transferRemarks;
    var transactionID = Math.floor(Math.random() * 100000);
  document.getElementById("transactionID").value = transactionID;
   
    
} 
    </script>
  <pingendo onclick="window.open('https://pingendo.com/', '_blank')" style="cursor:pointer;position: fixed;bottom: 20px;right:20px;padding:4px;background-color: #00b0eb;border-radius: 8px; width:220px;display:flex;flex-direction:row;align-items:center;justify-content:center;font-size:14px;color:white">Made with Pingendo Free&nbsp;&nbsp;<img src="https://pingendo.com/site-assets/Pingendo_logo_big.png" class="d-block" alt="Pingendo logo" height="16"></pingendo>
</body>

</html>